// ***************************************************
// base
// ***************************************************
$font_size_root: 16px;
$container_width: 1200px; //コンテナ幅
$container_narrow_width: 1000px; //狭いコンテナ幅
$container_padding_sm: 24px; //SP左右余白

// ***************************************************
// font-family
// **************************************************
$font_main: "Noto Sans JP", sans-serif;
$font_accent: "Noto Serif JP", serif;

// ***************************************************
// color pallet
// ***************************************************
// ベースカラー
$base_color: #fff;

// メインカラー
$main_color: #f5f5f5;

//アクセントカラー
$accent_color: #d11c1c;

// テキストカラー
$text_color: #222;

//ボーダーカラー
$border_color: #cdcdcd;

$gray_color: #777;

// ***************************************************
// media query
// ***************************************************
$sm: "(min-width: 425px)";
$md: "(min-width: 769px)";
$lg: "(min-width: 1240px)";

$sp: 375;
$tb: 768;
$pc: 1440;

// ***************************************************
// z-index
// ***************************************************
$zindex-bg: -1;
$zindex-default: 1;
$zindex-floating: 30;
$zindex-drawer: 40;
$zindex-header: 50;
$zindex-modal: 100;

// ***************************************************
// shadow
// ***************************************************
$shadow: 1px 1px 10px rgba($text_color, 0.2);
